HW1/.vs/
HW1/x64/
HW1/HW1/x64/
/.vs
/HW1/packages/Microsoft.Windows.CppWinRT.2.0.220531.1
/HW1/packages/Microsoft.Windows.CppWinRT.2.0.220531.1
/HW1/packages/Microsoft.Windows.CppWinRT.2.0.220531.1
/HW1/packages/Microsoft.Windows.CppWinRT.2.0.220531.1
/HW1/HW1/csopesy-backing-store/
/HW1/HW1/memory stamp/